#map { 
    height: 500px; 
}

.leaflet-container.crosshair-cursor-enabled {
    cursor:crosshair;
}

#validate{
    width: 100px;
    height: 30px;
    margin-top: 30px;
    border-radius: 40px;
}

#cityName{
    display: inline;
    margin-left: 200px;
}

